<!-- Down Arrow -->
<div class="down-arrow text-center">
    <a class="footer-toggle" data-toggle="show">
        <span class="arrow-left"></span>
        <span class="arrow-right"></span>
    </a>
</div>