<footer id="footer">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 double-columns">
                <div class="row">
                    <div class="col-sm-4 nested-columns">
                        <ul class="footer-nav">
                            <li><a href="#">Learn More</a></li>
                            <li><a href="#">Get Started</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 nested-columns">
                        <h4>Company</h4>
                        <ul class="footer-links">
                            <li><a href="#">About My Pain Pal</a></li>
                            <li><a href="#">Partner With Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 nested-columns">
                        <h4>Legal</h4>
                        <ul class="footer-links">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div> <!-- /row -->
            </div> <!-- /col -->
            <div class="col-xl-6 double-columns">
                <div class="row">
                    <div class="col-sm-4 nested-columns">
                        <h4>Social</h4>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-8 nested-columns">
                        <h4>We'd love to keep in touch</h4>
                        <form id="footer-form">
                            <input type="email" id="footer-email" placeholder="Enter email">
                            <button type="submit" class="btn btn-footer-submit">Submit</button>
                        </form>
                    </div>
                </div> <!-- /row -->
            </div> <!-- /col -->
        </div> <!-- /row -->
        <div class="row text-center copyright">
            <div class="col-12">
                Copyright &copy; <span class="current-year"></span>. My Pain Pal. All rights reserved.
            </div>
        </div> <!-- /row -->
    </div> <!-- /container -->

</footer>