<!-- Down Arrow -->
<div class="down-arrow down-interior text-center">
    <a href="#footer" class="footer-toggle" data-toggle="show">
        <span class="arrow-left"></span>
        <span class="arrow-right"></span>
    </a>
</div>