<div class="dashboard-tabs clearfix">
    <ul>
        <li><a href="#" class="active"><i class="fas fa-plus-circle"></i> <span class="tab-text">Add New</span></a></li>
        <li><a href="#"><i class="fas fa-book"></i> <span class="tab-text">Journal</span></a></a></li>
        <li><a href="#"><i class="fas fa-chart-bar"></i> <span class="tab-text">Chart</span></a></a></li>
        <li><a href="#"><i class="fas fa-calendar-alt"></i> <span class="tab-text">Calendar</span></a></a></li>
        <li><a href="#"><i class="fas fa-diagnoses"></i> <span class="tab-text">Body</span></a></a></li>
    </ul>
</div> <!-- /dashboard-tabs -->