{{> dashboard/nav}}
{{> dashboard/tabs}}

<div class="dashboard-body">

    <div class="page-title text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>My Pain Level Chart</h1>
                </div>
            </div>
        </div>
    </div> <!-- /page-title -->

    <div class="main-content">

        <div class="flex-center chart">
                
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {{!-- <h1>This is the Chart</h1> --}}
                <div class="chart-container" style="position: relative; margin: auto; align-content: center; height:40vh; width:60vw">
                    <canvas id="myChart"></canvas>
                    <br>
                </div>
                    </div>
                </div> <!-- /row -->
            </div> <!-- /container -->
            
        </div> <!-- /quick-log -->

    </div> <!-- /main-content -->

    {{> down-arrow}}
    
</div> <!-- /dashboard-body -->

{{> footer}}
    
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<!-- JavaScript -->
<script type="text/JavaScript" src="./assets/js/javascript.js"></script>
<script type="text/JavaScript" src="./assets/js/dashboard.js"></script>
<script type="text/JavaScript" src="./assets/js/responsive-heights.js"></script>
<script type="text/JavaScript" src="./assets/js/logout.js"></script>
<script type="text/Javascript" src="http://momentjs.com/downloads/moment.js"></script>
<script type="text/Javascript" src="./assets/js/userChart.js"></script>