{{> dashboard/nav}} {{> dashboard/tabs}}

<div class="dashboard-body">

    <div class="main-content">

        <div class="flex-center quick-log">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="body-part text-center">
                         
                                    {{!-- Right Arm --}}

                        </div>
                        <div class="yesterdays-pain"></div>
                        <div class="female">
                            <div id="female">
                                <!-- female human body -->
                                <iframe id="embedded-human" class="femaleHuman" frameBorder="0" style="width: 100%; max-width: 980px;" height="600" allowFullScreen="false"
                                    src="https://human.biodigital.com/widget/?be=2aDe&background.colors=204,202,202,1,245,245,245,1&background.gradient-type=linear&initial.hand-hint=true&ui-annotations=true&ui-info=false&ui-dissect=true&ui-isolate=true&ui-share=false&ui-tools-display=primary&dk=e84823bf8df7a40d8cf4b3a7d3272eaac8e76074">
                                </iframe>
                                <div id="save">
                                    <button id="btn-save" href="#">Save</button>
                                </div>
                                <script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>
                            </div>
                        </div>
                        <div class="male">
                            <div id="male">
                                <!-- male human body -->
                                <iframe id="embeddedHuman" class="maleHuman" frameBorder="0" style="width: 100%; max-width: 980px;" height="600" allowFullScreen="true"
                                    src="https://human.biodigital.com/widget/?be=2aDs&background.colors=181,177,177,1,245,245,245,1&background.gradient-type=linear&initial.hand-hint=true&ui-annotations=true&ui-info=true&ui-dissect=true&ui-isolate=true&ui-share=false&ui-tools-display=primary&dk=e84823bf8df7a40d8cf4b3a7d3272eaac8e76074">
                                </iframe>
                                <div id="Save">
                                    <button id="btn-Save" href="#">Save</button>
                                </div>
                                <script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>
                            </div>
                        </div>
                        <div class="smiley-container clear existing-smiley">
                            <div class="smiley">
                                <i class="far fa-laugh"></i>
                            </div>
                            <!-- /smiley -->
                            <div class="smiley">
                                <i class="far fa-smile"></i>
                            </div>
                            <!-- /smiley -->
                            <div class="smiley">
                                <i class="far fa-meh"></i>
                            </div>
                            <!-- /smiley -->
                            <div class="smiley">
                                <i class="far fa-frown"></i>
                            </div>
                            <!-- /smiley -->
                            <div class="smiley">
                                <i class="far fa-sad-cry"></i>
                            </div>
                            <!-- /smiley -->
                        </div>
                        <!-- /smiley-container -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div id="existing-user-form">
                                <div class="form-group">
                                    <input type="range" min="0" max="10" value="5" class="form-control-range slider" id="pain-level-range">
                                </div>
                                <div class="pain-level text-center">
                                    Pain Intensity:
                                    <span id="pain-value"></span>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary" id="quick-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div id="posts-container">
                                <div class="form-group">
                                    <div class="smiley-container clear">
                                        <div class="smiley">
                                            <i class="far fa-laugh"></i>
                                        </div>
                                        <!-- /smiley -->
                                        <div class="smiley">
                                            <i class="far fa-smile"></i>
                                        </div>
                                        <!-- /smiley -->
                                        <div class="smiley">
                                            <i class="far fa-meh"></i>
                                        </div>
                                        <!-- /smiley -->
                                        <div class="smiley">
                                            <i class="far fa-frown"></i>
                                        </div>
                                        <!-- /smiley -->
                                        <div class="smiley">
                                            <i class="far fa-sad-cry"></i>
                                        </div>
                                        <!-- /smiley -->
                                    </div>
                                    <input type="range" min="0" max="10" value="5" class="form-control-range slider" id="new-pain-level-range">
                                    <label for="pain-intensity">Pain Intensity:
                                        <span id="new-pain-value"></span>
                                    </label>
                                    <label for="body-part">Body Part:</label>
                                    <input type="text" class="form-control" id="body-part">
                                    <div class="form-group">
                                        <label for="pain-char">Select Pain Characteristics:</label>
                                        <select class="custom-select" id="pain-char">
                                            <option value="sharp">Sharp</option>
                                            <option value="dull">Dull</option>
                                            <option value="stabbing">Stabbing</option>
                                            <option value="throbbing">Throbbing</option>
                                            <option value="aching">Aching</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="pain-duration">Pain Duration:</label>
                                        <input type="text" class="form-control" id="pain-duration">
                                    </div>
                                    <div class="form-group">
                                        <label for="medications">Medications:</label>
                                        <input type="text" class="form-control" id="medications">
                                    </div>
                                    <div class="form-group">
                                        <label for="dosage">Dosage:</label>
                                        <input type="text" class="form-control" id="dosage">
                                    </div>
                                    <div class="form-group">
                                        <label for="notes">Notes:</label>
                                        <textarea class="form-control" rows="10" id="notes"></textarea>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-block btn-primary" id="post-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->

        </div>
        <!-- /quick-log -->

    </div>
    <!-- /main-content -->

    {{> dashboard/down-arrow}}

</div>
<!-- /dashboard-body -->

{{> footer}}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

<!-- JavaScript -->
<script type="text/JavaScript" src="./assets/js/javascript.js"></script>
<script type="text/JavaScript" src="./assets/js/dashboard.js"></script>
<script type="text/JavaScript" src="./assets/js/quick-log.js"></script>
<script type="text/JavaScript" src="./assets/js/post.js"></script>
<script type="text/JavaScript" src="./assets/js/female.js"></script>
<script type="text/JavaScript" src="./assets/js/male.js"></script>
<script type="text/JavaScript" src="./assets/js/register.js"></script>
<script type="text/JavaScript" src="./assets/js/log-out.js"></script>
