{{> dashboard/nav}}
{{> dashboard/tabs}}

<div class="dashboard-body">

    <div class="welcome-message text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="previous-pain">Your last pain intensity level was 0.</div>
                </div>
            </div>
        </div>
    </div> <!-- /welcome-message -->

    <div class="main-content">

        <div class="flex-center quick-log">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" class="form-control" id="quick-body-part">
                        <div class="body-part text-center"></div>
                        <div class="smiley-container clear existing-smiley">
                            <div class="smiley">
                                <i class="far fa-laugh"></i>
                            </div>
                            <!-- /smiley -->
                            <div class="smiley">
                                <i class="far fa-smile"></i>
                            </div>
                            <!-- /smiley -->
                            <div class="smiley">
                                <i class="far fa-meh"></i>
                            </div>
                            <!-- /smiley -->
                            <div class="smiley">
                                <i class="far fa-frown"></i>
                            </div>
                            <!-- /smiley -->
                            <div class="smiley">
                                <i class="far fa-sad-cry"></i>
                            </div>
                            <!-- /smiley -->
                        </div>
                        <!-- /smiley-container -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div id="existing-user-form">
                                <div class="form-group">
                                    <input type="range" min="0" max="10" value="5" class="form-control-range slider" id="pain-level-range">
                                </div>
                                <div class="pain-level text-center">
                                    Pain Intensity:
                                    <span id="pain-value"></span>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary" id="quick-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <!-- New User -->
                            <div id="posts-container">

                                <div class="form-group">
                                    <button id="btn-body-select" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#body-modal">
                                        Select Body Part
                                    </button>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control custom-field" id="body-part" placeholder="Body Part" required>
                                </div>
                                <div class="smiley-container clear">
                                    <div class="smiley">
                                        <i class="far fa-laugh"></i>
                                    </div>
                                    <!-- /smiley -->
                                    <div class="smiley">
                                        <i class="far fa-smile"></i>
                                    </div>
                                    <!-- /smiley -->
                                    <div class="smiley">
                                        <i class="far fa-meh"></i>
                                    </div>
                                    <!-- /smiley -->
                                    <div class="smiley">
                                        <i class="far fa-frown"></i>
                                    </div>
                                    <!-- /smiley -->
                                    <div class="smiley">
                                        <i class="far fa-sad-cry"></i>
                                    </div>
                                    <!-- /smiley -->
                                </div>
                                <div class="form-group">
                                    <input type="range" min="0" max="10" value="5" class="form-control-range slider" id="new-pain-level-range">
                                </div>
                                <div class="pain-level text-center">
                                    Pain Intensity:
                                    <span id="new-pain-value"></span>
                                </div>
                                <div class="form-group">
                                    <select class="custom-select custom-field" id="pain-char">
                                        <option value="None">Select Pain Characteristic</option>
                                        <option value="Sharp">Sharp</option>
                                        <option value="Dull">Dull</option>
                                        <option value="Stabbing">Stabbing</option>
                                        <option value="Throbbing">Throbbing</option>
                                        <option value="Aching">Aching</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control custom-field" id="pain-duration" placeholder="Pain Duration">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control custom-field" id="medications" placeholder="Medications">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control custom-field" id="dosage" placeholder="Dosage">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control custom-field" rows="3" id="notes" placeholder="Notes"></textarea>
                                </div>

                                <button type="submit" class="btn btn-block btn-primary" id="post-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->

        </div>
        <!-- /quick-log -->

    </div>
    <!-- /main-content -->

    {{> down-arrow}}

</div>
<!-- /dashboard-body -->

{{> modals/body}}

{{> footer}}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

<!-- JavaScript -->
<script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>
<script type="text/JavaScript" src="./assets/js/javascript.js"></script>
<script type="text/JavaScript" src="./assets/js/dashboard.js"></script>
<script type="text/JavaScript" src="./assets/js/responsive-heights.js"></script>
<script type="text/JavaScript" src="./assets/js/quick-log.js"></script>
<script type="text/JavaScript" src="./assets/js/post.js"></script>
<script type="text/JavaScript" src="./assets/js/female.js"></script>
<script type="text/JavaScript" src="./assets/js/male.js"></script>
<script type="text/JavaScript" src="./assets/js/register.js"></script>
<script type="text/JavaScript" src="./assets/js/log-out.js"></script>