this is the post page

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post Page</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div id="displayPosts"></div>
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <form id="pain-form posts-container">
                    <div class="form-group">
                        <label for="body-part">Body Part:</label>
                        <input type="text" class="form-control" id="body-part">
                        <br/>
                        <label for="pain-intensity">Pain Intensity:</label>
                        <input type="text" class="form-control" id="pain-intensity">
                        <br/>
                        <div class="form-group">
                            <label for="pain-char">Select Pain Characteristics:</label>
                            <select class="custom-select" id="pain-char">
                                <option value="sharp">Sharp</option>
                                <option value="dull">Dull</option>
                                <option value="stabbing">Stabbing</option>
                                <option value="throbbing">Throbbing</option>
                                <option value="aching">Aching</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <br/>
                        <label for="pain-duration">Pain Duration:</label>
                        <input type="text" class="form-control" id="pain-duration">
                        <br/>
                        <label for="medications">Medications:</label>
                        <input type="text" class="form-control" id="medications">
                        <br/>
                        <label for="dosage">Dosage:</label>
                        <input type="text" class="form-control" id="dosage">
                        <br/>
                        <label for="notes">Notes:</label>
                        <textarea class="form-control" rows="10" id="notes"></textarea>
                        <br/>
                        <button type="submit" class="btn btn-success submit btn-lg" id = "post-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script type="text/JavaScript" src="./assets/js/post.js"></script>

</body>

</html>