<title></title>

<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>REGISTER</h1>
                <br>
                <form id="regForm" autocomplete="off">
                    <br>
                    <div class="form-group">
                        <label for="first-name">First name:</label>
                        <input type="text" class="form-control" id="first-name" required>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last name:</label>
                        <input type="text" class="form-control" id="last-name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of birth:</label>
                        <input type="date" class="form-control" id="dob" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select id="gender" class="custom-select custom-select-sm" required>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-sm">Submit</button>
                    <br>
                </form>
                <br>
            </div>
        </div>
    </div>

    <script src="/assets/js/register.js"></script>
</body>