<!-- More Info Modal -->
<div class="modal fade" id="modalMoreInfo" tabindex="-1" role="dialog" aria-labelledby="modalMoreInfoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalMoreInfoTitle">Welcome to My Pain Pal!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>After searching through many different apps, for keeping track of injuries and the pain associated with them, the search
          fell short of the necessary features.</p>
        <p>My Pain Pal is a user-friendly app where you can log and track your injury progress. It is designed to help the user keep an accurate journal of their pain intensity levels for specific body part(s).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>