/* -----------------------------------
    Legend
    
    Blue: #2D93C5;
    Darker Blue: #1c6588;

----------------------------------- */

/* -----------------------------------
	Global
--------------------------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

/* -----------------------------------
	Typography
--------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700|Open+Sans:400,700');

body {
    font-family: "Open Sans", 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #FFF;
}

a {
    color: #FFF;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

a:hover {
    color: #FFF;
}

/* -----------------------------------
	Buttons
----------------------------------- */

.btn-primary {
    font-weight: 400;
    font-size: 20px;
    padding: 15px 30px;
    border: 3px solid #FFF;
    text-transform: uppercase;
    border-radius: 0;
    background-color: transparent;
}

.btn-primary:hover {
    background-color: #FFF;
    border: 3px solid #FFF;
    color: #000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #2D93C5;
    border-color: #2D93C5;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}

button:focus {
    outline: 0;
}

/*----- Down Arrow ----*/

body.add-new .down-arrow,
body.journal .down-arrow  {
    display: none;
}

.down-arrow {
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 60;
    color: #FFF;
}

body.home .down-arrow {
    position: absolute;
}

.down-arrow.down-interior {
    position: relative;
}

a.footer-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
    cursor: pointer;
}

.arrow-left {
    position: absolute;
    width: 36px;
    height: 5px;
    top: 15px;
    margin-left: -29px;
    background-color: #FFF;
    transform: rotate(45deg);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.arrow-right {
    position: absolute;
    width: 36px;
    height: 5px;
    top: 15px;
    margin-left: -7px;
    background-color: #FFF;
    transform: rotate(-45deg);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

a.footer-toggle:hover .arrow-left,
a.footer-toggle:hover .arrow-right {
    background-color: #2D93C5;
}

/* -----------------------------------
	Navigation
--------------------------------------------------------------------------------------------- */

.navbar-toggler {
    border: 3px solid #FFF;
    border-radius: 0;
}

.navbar-toggler-icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    line-height: 30px;
    font-weight: 900;
    content: "\f0c9";
    color: #FFF;
}

/*----- Home Nav -----*/

.home-nav {
    position: absolute;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 200;
}

.home-nav .navbar {
    display: block;
    text-align: center;
}

.home-nav .navbar-brand {
    margin-right: 0;
    margin-bottom: 30px;
}

.home-nav .navbar-brand img {
    max-height: 120px;
}

.home-nav .navbar-expand-lg .navbar-nav a.nav-link.log-in,
.dashboard-nav .navbar-expand-lg .navbar-nav a.nav-link.log-out {
    display: inline-block;
    font-weight: 100;
    padding: 10px 20px;
    border: 3px solid #FFF;
    text-transform: uppercase;
    cursor: pointer;
}

.home-nav .navbar-expand-lg .navbar-nav a.nav-link.log-in:hover,
.dashboard-nav .navbar-expand-lg .navbar-nav a.nav-link.log-out:hover {
    background-color: #FFF;
    color: #000;
}

.home-nav .navbar-expand-lg .navbar-nav a.nav-link.log-in:active,
.dashboard-nav .navbar-expand-lg .navbar-nav a.nav-link.log-out:active {
    background-color: #2D93C5;
    border-color: #2D93C5;
    color: #FFF;
}

/*----- Dashboard -----*/

.dashboard-nav {
    background: #000;
}

.dashboard-nav .navbar-brand img {
    max-height: 50px;
}

.dashboard-nav .navbar {
    padding: .5rem 0;
}

/*----- Dashboard Tabs -----*/

.dashboard-tabs {
    background: #4A4A4A;
}

.dashboard-tabs ul {
    margin: 0;
    padding: 0;
}

.dashboard-tabs ul li {
    display: block;
    float: left;
    width: 20%;
}

.dashboard-tabs ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.tab-text {
    display: none;
}

.dashboard-tabs ul li a:hover {
    color: #2D93C5;
    background-color: #e1e1e1;
    text-decoration: none;
}

.dashboard-tabs a.active,
.dashboard-tabs a.active:hover {
    background-color: #1c6588;
    color: #e1e1e1;
}

/* -----------------------------------
	Footer
--------------------------------------------------------------------------------------------- */

footer {
    padding: 20px 0 5px;
}

footer .nested-columns {
    padding-bottom: 20px;
}

footer .nested-columns::after {
    display: block;
    content: "";
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    margin-top: 20px;
}

footer,
footer h4 {
    color: #7a7a7a;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul.footer-nav li a {
    font-size: 14px;
    font-weight: 700;
}

footer ul.footer-links li a {
    font-size: 14px;
}

footer ul li a {
    color: #7a7a7a;
}

footer ul li a:hover {
    color: #2D93C5;
}

footer h4 {
    font-family: "Open Sans", 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
}

ul.footer-social li {
    display: inline-block;
}

ul.footer-social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #7a7a7a;
    color: #FFF;
    border-radius: 100%;
    text-align: center;
    box-sizing: border-box;
}

ul.footer-social li a:hover {
    background-color: #2D93C5;
    color: #FFF;
}

footer .copyright {
    font-size: 12px;
    margin-top: 20px;
}

input#footer-email {
    display: block;
    float: left;
    width: calc( 100% - 85px );
    height: 36px;
    margin-right: 5px;
    border: 1px solid #E5E5E5;
    padding-left: 10px; 
}

.btn-footer-submit {
    display: block;
    float: left;
    width: 80px;
    height: 36px;
    padding: 0;
    background-color: #2D93C5;
    color: #FFF;
    border-radius: 0;
}

/* -----------------------------------
	Home Carousel
--------------------------------------------------------------------------------------------- */

.carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
}

.carousel-content h1 {
    margin-bottom: 30px;
}

.carousel-content .btn {
    margin: 0 20px;
}

.carousel-content .btn {
    width: 42%;
    margin: 0 5px;
    padding: 15px 0;
    font-size: 18px;
}

.carousel-overlay h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
}

.carousel-indicators {
    z-index: 30;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 40;
}

.carousel-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.video-man {
    background: url(../images/man.jpg) no-repeat;
    background-size: cover;
}

.video-woman {
    background: url(../images/woman.jpg) no-repeat;
    background-size: cover;
}

/* -----------------------------------
	Modals
--------------------------------------------------------------------------------------------- */

.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: #2D93C5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal h5 {
    font-size: 2rem;
    color: #FFF;
    text-transform: uppercase;
}

.close {
    color: #FFF;
    text-shadow: rgba(0,0,0,0);
    opacity: 1;
}

.modal {
    color: #4a4a4a;
}

.modal .btn-primary {
    background-color: #2D93C5;
    color: #FFF;
    border: 0;
    width: calc( 50% - 5px );
}

.modal .btn-secondary {
    font-weight: 400;
    font-size: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    width: calc( 50% - 5px );
}

form .modal-footer>:not(:last-child) {
    margin-right: 5px;
}

form .modal-footer>:not(:first-child) {
    margin-left: 5px;
}
/* Places "Date of Birth" as a placeholder */
input.date-of-birth:before {
    content: "Date of Birth: ";
    margin-right: 0.5em;
}

/* -----------------------------------
	Dashboard
--------------------------------------------------------------------------------------------- */

.dashboard-body {
    position: relative;
    background-color: #e1e1e1;
}

.main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    width: 100%;
    padding-bottom: 10px;
}

/*----- Quick Log -----*/

.body-part {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: #2D93C5;
    text-transform: uppercase;
}

.smiley-container {
    background-color: #7a7a7a;
    color: #000;
}

.smiley {
    display: block;
    float: left;
    width: 20%;
    font-size: 40px;
    text-align: center;
}

/* Smiley Colors */

.fa-laugh {
    color: #01a209;
}

.fa-smile {
    color: #94b900;
}

.fa-meh {
    color: #d5c300;
}

.fa-frown {
    color: #e28a00;
}

.fa-sad-cry {
    color: #dc0000;
}

.quick-log .btn-primary {
    background-color: #2D93C5;
    border-color: #2D93C5;
}

.quick-log .btn-primary:hover {
    background-color: #1c6588;
    border-color: #1c6588;
    color: #FFF;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 40px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px;
    height: 40px;
    background: #FFF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #FFF;
    cursor: pointer;
}

.pain-level {
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
}

/* -----------------------------------
	Page Titles
--------------------------------------------------------------------------------------------- */

.page-title {
    background-color: #1c6588;
    margin-bottom: 20px;
}

.page-title h1 {
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 40px 0;
}

/* -----------------------------------
	Pain Journal
--------------------------------------------------------------------------------------------- */

.post-item {
    background: #F0F0F0;
    color: #4A4A4A;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
}

.post-item .header {
    background-color: #2D93C5;
}

.post-item h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-weight: 400;
    padding: 10px 0;
}

.post-item h4 {
    color: #2D93C5;
    padding-top: 20px;
}

.post-item p {
    margin-bottom: 0;
}

.post-item .attention {
    font-size: 24px;
}

.attention i {
    font-size: 36px;
    vertical-align: middle;
}

.button-wrapper {
    background-color: #C4C4C4;
}

.post-button {
    margin: 0 10px;
    background-color: transparent;
}

.post-button:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

.post-button:not(:disabled):not(.disabled).active, .post-button:not(:disabled):not(.disabled):active {
    color: #1c6588;
}

.post-button:hover {
    color: #FFF;
}

.section {
    padding: 0 30px;
}

.medications {
    padding-top: 20px;
}

.post-item .section::after {
    display: block;
    content: "";
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 20px;
}

.post-item .section.notes::after {
    border: 0;
}

.notes {
    text-align: left;
}

.button-wrapper {
    padding: 0 15px;
}

.button-wrapper p {
    padding: .375rem 0;
}

/* -----------------------------------
	Media Queries
--------------------------------------------------------------------------------------------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    /*-- Home --*/

    .home-nav .navbar {
        display: flex;
        text-align: left;
    }

    .carousel-overlay {
        padding-top: 100px;
    }

    .carousel-overlay h1 {
        font-size: 60px;
    }

    .carousel-content .btn {
        max-width: 180px;
        margin: 0 10px;
        padding: 15px 0;
    }

    /*-- Quick Log --*/

    .smiley {
        font-size: 50px;
    }

    /*-- Journal --*/

    .post-item .section::after {
        border-bottom: 0;
    }

    .post-item .wrap-all {
        padding: 0 15px;
    }

    .post-item .wrap-two::after {
        display: block;
        content: "";
        width: 100%;
        border-bottom: 1px solid #C4C4C4;
        margin-top: 20px;
    }

    .post-item .date {
        text-align: left;
    }

    .post-item .buttons {
        text-align: right;
    }

    .post-item .post-button {
        margin: 0;
    }

    /*-- Footer --*/

    footer .double-columns {
        padding-bottom: 20px;
    }

    footer .double-columns::after {
        display: block;
        content: "";
        width: 100%;
        border-bottom: 1px solid #E5E5E5;
        margin-top: 20px;
    }

    footer .double-columns:last-of-type::after {
        border: 0;
    }

    footer .nested-columns {
        padding-bottom: 0;
    }

    footer .nested-columns::after {
        display: none;
        content: "";
        width: 100%;
        border-bottom: 1px solid #E5E5E5;
        margin-top: 20px;
    }

    footer .copyright {
        font-size: 14px;
        margin-top: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /*-- Home --*/

    .carousel-overlay {
        padding-top: 0;
    }

    .carousel-overlay h1 {
        font-size: 80px;
    }

    /*-- Dashboard Tabs --*/
    .dashboard-tabs ul li a {
        font-size: 26px;
    }

    /*-- Quick Log --*/
    .smiley {
        font-size: 60px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .tab-text {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        margin-left: 4px;
    }

    /*-- Quick Log --*/
    .smiley {
        font-size: 70px;
    }

    /*-- Journal --*/

    .post-item .wrap-all {
        padding: 0;
        margin: 0 15px;
    }

    .post-item .wrap-all::after {
        display: block;
        content: "";
        width: 100%;
        border-bottom: 1px solid #C4C4C4;
    }

    .post-item .wrap-two::after {
        border: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /*-- Quck Log --*/
    .smiley {
        font-size: 80px;
    }

    /*-- Footer --*/

    footer .double-columns::after {
        border: 0;
    }
}